.cards__container {
    max-width: 282px;
    width: 100%;
    border-radius: 10px;
    background-image: url('../../../images/error.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}