.profile__info {
    display: flex;
    margin: 0 18px 0 30px;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 342px;
    flex-direction: column;
    position: relative;
}

@media screen and (max-width: 700px) {
    .profile__info {
        align-items: center;
        justify-content: center;
        margin: 26px auto 0;
        gap: 0;
    }
}