.popup__input {
    margin: 30px auto 0;
    width: 100%;
    padding: 0 0 13px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}