.popup__input {
    max-width: 358px;
    width: 100%;
    min-height: 27px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin: 16px 0 0;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 600px) {
    .popup__input {
        margin: 26px 0 0;
        gap: 24px;
    }
}