.popup__container {
    max-width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    padding: 34px 36px 37px;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .popup__container {
        padding: 25px 22px;
    }
}