.header__logo {
    max-width: 142px;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity .2s linear;
}

.header__logo:hover {
    opacity: 0;
}

@media screen and (max-width: 600px) {
    .header__logo {
        padding-left: 20px;
    }
}