.profile__add-button {
    max-width: 150px;
    width: 100%;
    height: 50px;
    margin-left: auto;
    opacity: 1;
    transition: opacity .2s linear;
    background-color: #000;
    background-image: url(../../../images/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    box-shadow: none;
    padding: 0;
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .profile__add-button {
        margin: 40px auto 0;
        max-width: 282px;
        width: 100%;
        height: 50px;
        background-image: url(../../../images/add-button-mob.svg);
    }
}