.cards {
    max-width: 920px;
    margin: 46px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 17px;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 20px;
}

@media screen and (max-width: 320px) {
    .cards {
        margin: 36px auto 0;
    }
}