.profile__add-card-button {
    width: 150px;
    min-height: 50px;
    margin-left: auto;
    opacity: 1;
    transition: opacity .2s linear;
    background-color: transparent;
    background-image: url(../../../images/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    box-shadow: none;
    padding: 0;
    box-sizing: border-box;
}

.profile__add-card-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .profile__add-card-button {
        margin: 36px auto 0;
        width: 282px;
        background-image: url(../../../images/add-button-mob.svg);
    }
}