.popup__close-button {
    max-width: 32px;
    width: 100%;
    height: auto;
    position: absolute;
    top: -40px;
    right: -40px;
    opacity: 1;
    transition: opacity .2s linear;
}

.popup__close-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .popup__close-button {
        right: 0;
    }
}