.popup__title {
    margin: 0;
    max-width: 358px;
    width: 100%;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
}

@media screen and (max-width: 320px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
    }
}